<h2 class="primary-title">Список задач: </h2>
<div class="tasks">
    <h4 class="secondary-title">26.06.2023</h4>
    <div class="dayly-tasks">
        <div *ngFor="let todoItem of todosArray" class="item">
            <input type="checkbox" class="input-checkbox" [(ngModel)]="todoItem.checked">
            <span class="description" [ngClass]="{'done': todoItem.checked}">{{todoItem.data.description}}
            </span>
            <app-remove-button (pressed)="removeTask()" class="remove-button"></app-remove-button>
        </div>
    </div>
</div>
<div class="add-task-wrapper"><input type="text" maxlength="37" class="add-task-input" [(ngModel)]="newItemDescription"
        placeholder="Новая задача">
    <app-add-button (pressed)="addNewTask()"></app-add-button>
</div>